@import url("https://fonts.googleapis.com/css?family=Asap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Asap", sans-serif;
  margin: auto;
  width: 100%;
}

.carousel-control-next-icon {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #626262;
  border-top: 15px solid transparent;
  height: 0;
  width: 0;
}
.carousel-control-prev-icon {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #626262;
  border-top: 15px solid transparent;
  height: 0;
  width: 0;
}
