@import url("https://fonts.googleapis.com/css?family=Asap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Asap", sans-serif;
  margin: auto;
  width: 100%;
}
